# Spark + Delta
pyspark==3.5.1
delta-spark==3.1.0

# Data validation, parsing, etc.
pandas>=1.5
pyarrow>=13.0.0

# Testing & linting
pytest>=7.0
flake8>=6.0

# AWS SDK (for optional Step Function deployment)
boto3>=1.28

# Optional: Environment variable loading (if needed locally)
python-dotenv>=1.0
